option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public
    composer_options: --no-dev
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_KEY: base64:QsvyWdOFOzNWWnzPwm9tktINVEML4SonCF/L122DXkM=
    APP_DEBUG: true
    APP_URL: http://portfolio-api.us-east-1.elasticbeanstalk.com
    APP_NAME: portfolio api
